<h1>Tickets</h1>
<table class="table table-bordered table-condensed">
  <thead>
    <tr>
    <th>Numbers</th>
    <th>Game Numbers</th>
    <th>Bet Amount</th>
    <th>Bonus?</th>
    <th>Total Prize Amount</th>
    </tr>
  </thead>
  <tbody>
  <% @tickets.each do |ticket| %>
    <tr <%= "class=\"active\"" if ticket.total_prize_amount > 0 %>>
      <td><%= ticket.numbers.join(', ') %></td>
      <td><%= ticket.games.first.game_number %>..<%= ticket.games.last.game_number %></td>
      <td><%= number_to_currency(ticket.bet_amount) %></td>
      <td><%= ticket.bonus %></td>
      <td><%= number_to_currency(ticket.total_prize_amount) %></td>
    </tr>
  <% end %>
</tbody>
</table>
<%= link_to "New Ticket", new_ticket_path %>
