<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">KENO</h3>
      </div>
        <ul class="list-group">
          <li class="list-group-item">
            <%= pluralize(@ticket.games.size, 'Spot') %> 
          <%= number_to_currency(@ticket.bet_amount) %> Per Draw
          </li>
          <li class="list-group-item">
          <%= ticket_numbers %>
          </li>
          <li class="list-group-item">
          <%= @ticket.games.first.game_date %>
          </li>
          <li class="list-group-item">
            <%= pluralize(@ticket.games.size, 'Draw') %>
            Game <%= @ticket.game_range %>
          </li>
          <li class="list-group-item">
            <%= multiplier %>
          </li>
          <li class="list-group-item">
            <%= number_to_currency(@ticket.total_bet_amount) %>
          </li>
        </ul>
    </div>
  </div>
</div>
