<!DOCTYPE html>
<html>
  <head>
    <title>Kenochecker</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <%= render "layouts/navigation" %>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="footer">
    <div class="container">
      <p class="text-muted">
      A project by <a href="http://twitter.com/johnnadeau">johnnadeau</a>
      </p>
    </div>
    </footer>
  </body>
</html>
